<!DOCTYPE html>
<html>
<head>
  <title>Artigos</title>
  <%= stylesheet_link_tag  "application", "token-input-facebook", :media => "all" %>
  <%= javascript_include_tag "application", "jquery.tokeninput" %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #EEEEEE;">

<%= yield %>

</body>
</html>
